/* 중요 사항 */
.important {
  color: red;
}
/* 에러 메시지 */
.error {
  color: red;
}
/* 확인 완료 */
.pass {
  color: blue;
}
/* 마우스 포인터 */
.mousePointer {
  cursor: pointer;
}
/* 화면바닥에 고정 */
.footerFixed {
  position: finxed;
  bottom: 0;
  left: 0;
}
/* div에서 text(content) 원본 그대로 */
.originContent {
  white-space: pre;
}